@import 'colors';
@import 'media';

.list-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category-btn {
  &--active {
    color: $color-5;
    background-color: $color-1;
    border-color: $color-1;
  }
}

@media (max-width: $ui-sm) {
  .list-categories {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
