<div class="delivery">
  <div class="delivery__payment-method payment-method">
    <h2 class="payment-method__title text-color--3 text-uppercase">
      Способы оплаты:
    </h2>

    <ul class="payment-method__list list-reset text-line-height-1-6">
      <li class="payment-method__item text-uppercase">
        БАНКОВСКОЙ КАРТОЙ ПРИ ОФОРМЛЕНИИ ЗАКАЗА ЧЕРЕЗ САЙТ
      </li>

      <li class="payment-method__item text-uppercase">
        НАЛИЧНЫМИ ИЛИ БАНКОВСКОЙ КАРТОЙ ПРИ САМОВЫВОЗЕ
      </li>

      <li class="payment-method__item text-uppercase">
        НАЛИЧНЫМИ ПРИ ДОСТАВКЕ КУРЬЕРОМ
      </li>

      <li class="payment-method__item text-uppercase">КРИПТОВАЛЮТОЙ ОНЛАЙН</li>
    </ul>
  </div>

  <div class="delivery__delivery-price">
    <h2 class="delivery-price__title text-uppercase text-color--3">
      стоимость доставки:
    </h2>

    <ul class="delivery-price__price-list text-line-height-1-6">
      <li class="price-list__item-price item-price item-price-1 text-uppercase">
        <span class="text-weight-400">Бесплатно</span> – при заказе на сумму
        <span class="text-color--1">от 90 рублей</span>
      </li>

      <li class="price-list__item-price item-price item-price-2 text-uppercase">
        <span class="text-weight-400">10 рублей</span> – при заказе на сумму
        <span class="text-color--1">менее 90 рублей</span>
      </li>

      <li class="price-list__item-price item-price item-price-3 text-uppercase">
        Возможность, сроки и стоимость доставки за пределы МКАД, доставки в
        ночное время, праздники
        <span class="text-color--1">оговариваются с менеджером</span>
      </li>

      <li class="price-list__item-price item-price item-price-4 text-uppercase">
        Так же вы можете забрать ваш заказ самостоятельно по адресу:
        <span class="text-color--1"
          >г. Минск, ул. Тимирязева д. 67, комн. 112 ежедневно с 10.00 до
          21.00</span
        >
      </li>
    </ul>
  </div>

  <div class="delivery__delivery-condition">
    <h2 class="delivery-condition__title text-uppercase text-color--3">
      Условия доставки:
    </h2>

    <p class="delivery-condition__text text-uppercase text-line-height-1-6">
      Доставка осуществляется по городу Минску в пределах МКАД
      <span class="text-color--1">в любой день с 09.00 до 22.00.</span>
      Доставка в ночное время осуществляется по договоренности с оператором
    </p>
  </div>
</div>
