<section class="special">
  <div class="container special__container">
    <h2 class="section-title special__section-title">
      <span class="special__section-title-part-1">
        {{ data.title | getWord : 0 | uppercase }}
      </span>

      <div class="special__part-wrapper-title">
        <span class="special__line"></span>

        <span class="special__section-title-part-2">
          {{ data.title | getWord : 1 | uppercase }}
        </span>
      </div>
    </h2>

    <div class="special-img special-img--1"></div>
    <div class="special-img special-img--2"></div>
    <div class="special-img special-img--3"></div>
    <div class="special-img special-img--4"></div>

    <p class="special__descr text-line-height-1-8">
      {{ data.descr | uppercase }}
    </p>

    <ul class="special__list text-line-height-1-8">
      <li class="special__item" *ngFor="let item of data.list">
        {{ item | uppercase }}
      </li>
    </ul>

    <a class="special__link" routerLink="/" appUiButton="1">{{ data.link | uppercase }}</a>
  </div>
</section>
