.button-1 {
  padding: 16px 20px;
  color: $color-5;
  font-weight: 700;
  font-size: 12px;
  background-color: $color-1;
  border: none;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 transparent;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;

  &:hover {
    color: $color-4;
    background-color: $color-2;
  }

  &:focus {
    color: $color-5;
    background-color: $color-1;
    border-color: $color-2;
    outline: none;
  }

  &:active {
    color: $color-4;
    background-color: $color-2;
    border-color: transparent;
    box-shadow: inset 0 0 10px #1b000e;
  }

  &:disabled {
    color: $color-6;
    background-color: transparent;
    border-color: $color-6;
    cursor: not-allowed;
  }
}

.button-2 {
  padding: 16px 20px;
  color: $color-4;
  font-weight: 700;
  font-size: 12px;
  background-color: transparent;
  border: 2px solid $color-4;
  box-shadow: inset 0 0 0 transparent;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;

  &:hover {
    color: #040a09;
    background-color: $color-1;
  }

  &:focus {
    color: $color-4;
    background-color: transparent;
    border-color: $color-1;
    outline: none;
  }

  &:active {
    color: #040a09;
    background-color: $color-1;
    border-color: transparent;
    box-shadow: inset 0 0 10px #1b000e;
  }

  &:disabled {
    color: $color-6;
    background-color: transparent;
    border-color: $color-6;
    cursor: not-allowed;
  }
}

.button-3 {
  padding: 11px 16px;
  color: $color-4;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid $color-4;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgb($color: $color-1, $alpha: 20%);
  }

  &:active {
    background-color: rgb($color: $color-1, $alpha: 40%);
  }

  &--active {
    color: $color-5;
    background-color: $color-1;

    &:hover {
      background-color: rgb($color: $color-1, $alpha: 100%);
    }
  }
}

.button-4 {
  padding: 16px 20px;
  color: $color-4;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
  background-color: $color-2;
  border: none;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 transparent;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}
