<div class="payment-successful payment-successful--bg">
  <div class="payment-successful__decor-color-bg-1"></div>
  <div class="payment-successful__decor-color-bg-2"></div>

  <div class="payment-successful__container container">
    <h1 class="payment-successful__title section-title text-uppercase">
      <p class="wrapper-content__title-part-1">{{ data.title.part }}</p>
      <p class="wrapper-content__title-part-2">{{ data.title.part2 }}</p>
      <p class="wrapper-content__title-part-3">{{ data.title.part3 }}</p>
    </h1>

    <div class="payment-successful__wrapper-content wrapper-content">
      <p class="wrapper-content__paragraph-1 text-uppercase">
        {{ data.textOrderNumber }} {{ orderId }}
      </p>

      <div class="wrapper-content__wrapper-descr text-line-height-1-6">
        <p class="wrapper-content__paragraph-2 text-uppercase">
          {{ data.text }}
        </p>

        <p class="wrapper-content__paragraph-3 text-uppercase">
          {{ data.text2 }}
        </p>
      </div>

      <a
        class="wrapper-content__link text-uppercase text-color--1"
        routerLink="/"
        routerLinkActive="router-link-active"
        >{{ data.link }}</a
      >
    </div>
  </div>
</div>
