@import 'colors';

:host {
  display: block;
}

.btn-search {
  padding: 5px 10px;

  &__icon {
    transform: scale(1);
  }
}

.form-search {
  display: flex;
  align-items: center;

  &__btn-search {
    margin-right: 5px;
  }

  &__input {
    transition: border-color 0.3s;

    &::placeholder {
      transition: opacity 0.3s;
    }

    &:focus {
      border-bottom-color: $color-1;
      outline: none;

      &::placeholder {
        opacity: 0.5;
      }
    }
  }

  &:hover {
    .btn-search__icon {
      animation: zoom-animation 0.5s;
    }
  }
}

@keyframes zoom-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}
