.filter-form {
  padding: 20px 16px 30px;
  border-radius: 20px;

  &__fieldset {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.fieldset {
  &__legend {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__checkbox-wrapper {
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}
