<div class="rating">
  <form class="rating__items">
    <ng-container *ngFor="let _ of maxRatingIterable; let i = index">
      <input
        class="rating__input"
        type="radio"
        name="rating"
        [id]="generateInputId(i, id)"
        [value]="i + 1"
        [checked]="isChecked(i + 1)"
        [disabled]="disabled"
      />
      <label
        class="rating__label"
        [ngClass]="{ 'rating__label--active': rating && rating >= i + 1 }"
        [for]="generateInputId(i, id)"
      ></label>
    </ng-container>
  </form>
</div>
